.sidebar-title {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 20px;
}

.sidebar {
    width: 16%;
    border-right: 2px solid #e5e5e5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 3;
    flex-direction: column;
}

.logo-container {
    margin-bottom: 4rem;
}

.logo-container h1 {
    margin-top: 1.3rem;
}